.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 28px;

  &:focus-within {
    padding-bottom: 0;
  }
}

.header {
  display: flex;
  flex-shrink: 0;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 0;
  height: 10%;
  padding: 0 var(--padding-xl);
  overflow-y: auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: var(--padding-sm) var(--padding-xl);
}

.input {
  width: 100%;
  border-radius: 16px !important;
}
