.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 180px;
  font-size: small;
}

.resultList {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  width: 100%;
  margin: 0;
  margin-top: var(--padding-sm);
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  list-style: none;
}

.result {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  width: 144px;
  height: 170px;
  margin: 0;
  margin-left: var(--padding-xs);
  margin-right: var(--padding-xs);
  padding: var(--padding-sm);
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-radius: 8px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);

  .link {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;

    &,
    &:visited {
      color: inherit;
    }
  }

  .title {
    display: flex;
    font-weight: bold;
  }

  .content {
    display: flex;
    flex-grow: 1;
    height: 0;
    opacity: 0.66;
    overflow: hidden;
  }

  .footer {
  }

  .source {
  }
}
