.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.message {
  display: flex;
  margin: var(--padding-sm) var(--padding-lg);
}

.bubble {
  display: flex;
  white-space: pre-wrap;
  padding: var(--padding-sm);
}

.user.message {
  justify-content: flex-end;

  .bubble {
    max-width: 80%;
    background: var(--joy-palette-primary-500);
    border-radius: 8px;
    color: white;
  }
}

.message:not(.user) {
  .bubble {
    width: 100%;
  }
}
